body {
   background-color: white;
}

h1 {
    color: black;
    font-size: 50px;
}

h2 {
    color: black;
    
    font-size: 30px;
}

h3 {
    color:black;
   
    font-size: 25px;
}

h4 {
    color: black;
    text-align: left;
    font-size: 30px
}
.buttonheader {
    color: black;
    background-color: yellow;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transform: 0.5s;
}