.body {
   background-color: white;
   font-family: 'Rubik', sans-serif;
}

header {
background-color: gold;
}

.inicio_h1 {
color: black;
font-size: 50px;
}

h1 {
    background-color: gold;
    color:black;
    font-variant:unset;
    font-size: 50px;
}

.inicio {
    font-size: 30px;
}

.part2 {
    font-size: 30px;
}

.buttonheader {
    color: black;
    background-color: gold;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    border-color: black;
    cursor: pointer;
    transition: 0.5s;
}
